<html>
<head>
    <title>Thomas Peck</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1 class="glow"> Shipping Prices </h1>

    <section id="main">
        <h2>Result</h2>
        <p>
            You orderd: <%= type %> with a weight of <%= weight %> oz. wich will cost $<%= price %>.
        </p>
    </section>
    
</body>
</html>
