<html>
<head>
    <title> Shipping Prices </title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

    <h1 class="glow"> Shipping Prices </h1>

    <section id="main">
        <h2>Result:</h2>
        <p>
            You are shipping a "<%= type %>" with a weight of <%= weight %> oz.
            wich will cost <%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(price) %>.
        </p>
    </section>
    
</body>
</html>
